body {
    background: url("../images/fork.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,
#timer {
    text-align: center;
    color: #841010;
    font-family: 'Exo 2', sans-serif;
    font-size: 60px;
}

#message {
    text-align: center;
    color: #841010;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
}

h2 {
    text-align: center;
    color: #841010;
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
}

.start {
    width: 100%;
    background-color: #4A0808;
    color: #E6B0B0;
    font-size: 25px;
    
}


.question,
.answer {
    color: #841010;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    line-height: 90px;
}

#score {
    text-align: center;
    color: #841010;
    font-family: 'Exo 2', sans-serif;
    font-size: 35px;
}